<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/index.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header id="header">
        Enemmies ar knocking you door 
        <br>
        are you ready?

    </header>
    <nav class="nav" id="navbar">
        <div id="logo">
            <img src="/asssets/logo.jpg" alt="MyOnlineMeal.com">
        </div>
        <ul>
            <li class="item"><a href="#home">Home</a></li>
            <li class="item"><a href="#services-container">Categories</a></li>
            <li class="item"><a href="#client-section">Shops</a></li>
            <li class="item"><a href="#contact"><%= userName %></a></li>
            <input id="search-bar" type="text" name="name" id="name"  placeholder="search ">
        </ul>
    
    </nav>
    
    <section id="section1">
        
       <video id="video" src="/asssets/bg-video6.mp4" autoplay loop muted></video>
       
<div id="textovr">
    <h1>BIGGER TEXT</h1>
    <p>“War must be, while we defend our lives against a destroyer who would devour all; <p><p> I do not love the bright sword for its sharpness, nor the arrow <br>for its swiftness, nor the warrior for his glory. I love only that which they defend.”
</div>
      <div id="div1">
        <div>
            <video class="video1" autoplay loop muted src="/asssets/bg-video3.mp4"></video>
        </div>
        <div>
            <video class="video1" autoplay loop muted src="/asssets/bg-video4.mp4"></video>
        </div>
        
      </div>
    </section>
    <section id="section2">
        <h1>BEST PICKS</h1>
    <section id="section3">
        
        <br>
        <div class="box">
            <img src="/asssets/2009-Pompei-sword-015.jpg" alt="a weapon">
            <br><br>
            <a href="#"> Pompei sword</a>
        </div>
        <div class="box">
            <img src="/asssets/2010-Raised-rib-pugio-001L.jpg" alt="a weapon">
            <br><br>
            <a href="#"> RIB pugio</a>
        </div><div class="box">
            <img src="/asssets/alfs axe.jpg" alt="a weapon"><br><br>
            <a href="#"> Alfe's Axe</a>
        </div><div class="box">
            <img src="/asssets/batleth sword.webp" alt="a weapon"><br>
            <br>
            <a href="#"> batleth sword</a>
        </div>
    </section>
</section>
<section id="section4">
        
    <br>
    <div class="box">
        <img src="/asssets/bushcaft hammer.webp" alt="a weapon"><br><br>
        <a href="#"> Bushcaft hammer</a>
    </div>
    <div class="box">
        <img src="/asssets/cergol hammer.jpg" alt="a weapon"><br><br>
        <a href="#"> Cergol hammer</a>
    </div><div class="box">
        <img src="/asssets/geek machete.jpg" alt="a weapon"><br><br>
        <a href="#"> GReek machete</a>
    </div><div class="box">
        <img src="/asssets/glaudius swrd.webp" alt="a weapon"><br><br>
        <a href="#"> glaudius Sword</a>
    </div>
</section>
<h1> OUR PARTNERS</h1>
        <br>
        

    
        <section id="section5">
            <ul>
                <li class="item">ROMAN smiths</li>
                <li class="item">Bladehunter</li>
                <li class="item">Black-metals</li>
                <li class="item">THE_pointers</li>
                <li class="item">THE_sheilds</li>
            </ul>
      
</section>
<section id="section6">
<footer id="footer">
    <div class="box1">
        <h3>
        ABOUT
        </h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex optio blanditiis voluptatibus tempora ea culpa maxime, quaerat ut distinctio totam, vel iste doloremque asperiores veritatis voluptas odit amet suscipit numquam.

    </div>
<div class="box1">
    <h3>categorier</h3>
    <ul>
        <li>item1</li>
        <li>item1</li>
        <li>item1</li>
        <li>item1</li>
        <li>item1</li>
        <li>item1</li>
    </ul>
</div>
<div class="box1">
    <h3>categorier</h3>
    <ul>
        <li><a href="#">item1</a></li>
        <li><a href="#">item1</a></li>
        <li><a href="#">item1</a></li>
        <li><a href="#">item1</a></li>
        <li><a href="#">item1</a></li>
        <li><a href="#">item1</a></li>
    </ul>
</div></footer>
<p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by <a href="#">Scanfcode</a>.
</p>
</section>

</body>
</html>