
#header{
    display: block;
    background-color: black;
    height: 35px;
    width: 100%;
    color: white;
    margin: 0px;
    padding: 2px;
    text-align: center;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Signika Negative', sans-serif;
    
}
#logo img{
    padding-top: 10px;
    padding-left: 10px;
    height: 55px;
    width: 55px;

}
#navbar{
 height: 80px;
    display: inline-block;
    width: 100%;
    margin: 5px;
    display: flex;
    flex-direction: row;
    background-color: black;
    
    border-radius: 10px;
}
#navbar ul { 
    display: flex;
    text-decoration: none;
    list-style: none;

}
#srchicon{
    margin: 10px;
    height: 40px;
    width: 40px;

}

#login{
    margin-left: 800px;
}
#search-bar{
   border: none;
   outline: none;
   padding: 0px;
    width: 0px;
    height: 40px;
    border-radius: 10px;
    transition: all 1s ease-in-out;
}
 .nav:hover > #search-bar{
    padding: 5px;
    width: 300px;

}
#search-bar:focus{
    outline: none;
}
/*#navbar ul li{
    color: white;
    text-decoration: none;
    list-style: none;
    padding: 5px;
}*/
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
#section1{
   display: flex;
  margin-top: 100px;
  padding: 0%;
  background-color: black;
    
}
#video
{
    height: 550px;
    width: 1500px;
    border-radius: 30px;
}
#textovr{

    position: absolute;
    color: #fff;
    padding: 0% 10%;
    font-weight: 800;
    font-size: larger;
    z-index: 0;
    top: 250px;;
    left:0;
    bottom:0;
    right:0;
}
#textovr p{
    font-family: 'Alumni Sans Pinstripe', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Signika Negative', sans-serif;
}
#section2{
    margin-top: 100px;
    text-align: center;
}
    
#section2 h1{
    font-family: 'Alumni Sans Pinstripe', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Signika Negative', sans-serif;
}
#section3{
    display: flex;
    width: 100%;
    height: 300px;
    
}
.box{
   
    height: 250px;
    width: 2500px;
    margin: 15px;
    transition: all 0.8s ease-in-out 
}
.box:hover{
    transform: scale(1.4);
}
.box img{
    height: 200px;
    width: 200px;
    border-radius: 2px;
    box-shadow: 3px 3px 3px 3px rgb(203, 200, 200);
}

.box a{
    text-decoration: none;
    color: black;
}
#section4{
    display: flex;
    width: 100%;
    height: 300px;
    margin-left: 10px;
    text-align: center;
    justify-content: center;
   

}
#section5{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#section5 ul { 
    display: flex;
    text-decoration: none;
    list-style: none;
    margin: 10px;

}
#h1{
    text-align: center;
    margin: auto;
}
#section5 ul li{
    padding: 10px;
    margin: 10px;

}
.item{
    padding: 5px;
    margin: 10px;
}
#footer{
    display: flex;
    background-color: grey;
    height: 250px;
    width: 100%;

}
.box1{
    
    height: 250px;
    width: 2500px;
    margin: 15px;
    color: white;
}
#section6{
    background-color: grey;
    margin-top: 60px;
}
div1{
    display: flex;
}
.video1{
    height: 280px;
    width: 600px;
    border-radius: 10px;
}